<h1>Hi {{name}},</h1>
<h2>Congratulations!</h2>
<p>
    You can now access your dashboard and create boards by going to the following link and creating a password:
</p>

<span>Login URL: <a href={{url}}>Click here</a> to verify your account.</span>

<div>
    Thanks!
    Influencer Team
</div>